In [2]:
import pandas as pd

In [36]:
utah_df = pd.read_csv('utah-census-1880.csv', delimiter=",")

In [38]:
utah_df

,key,page,line,district,location,county,household,family,lastname,firstname,middlename,race,sex,age,birthmonth,relationship,marrystatus,justmarry,occupation,unemploymth,illness,blind,deaf,idiotic,insane,maimed,attendschool,notread,notwrite,birthstate,fbirthplace,mbirthplace
0,0212A_2_NEWBOLD_29,0212A,2,3072,Smithfield,CACHE,9157,158,NEWBOLD,SAMUEL,NaN,1,m,29.000,0,son,m,n,WORKS AT FARMING,13.0,NaN,n,n,n,n,n,n,n,n,ENGLAND,ENGLAND,ENGLAND
1,0163A_45_CHRISTIANSEN_37,0163A,45,2560,Hyrum,CACHE,150,151,CHRISTIANSEN,MARIAH,NaN,1,f,37.000,0,wife,m,n,KEEPING HOUSE,0.0,NaN,n,n,n,n,n,n,n,n,DENMARK,DENMARK,DENMARK
2,0120A_1_JENSEN_71,0120A,1,2048,Logan City,CACHE,1,1,JENSEN,OLEY,NaN,1,m,71.000,0,NaN,m,n,LABORER,13.0,NaN,n,n,n,n,n,n,n,n,SWEDEN,SWEDEN,SWEDEN
3,0120A_2_JENSEN_69,0120A,2,2048,Logan City,CACHE,1,1,JENSEN,INGER,NaN,1,f,69.000,0,wife,m,n,KEEPING HOUSE,0.0,NaN,n,n,n,n,n,n,n,y,SWEDEN,SWEDEN,SWEDEN
4,0120A_3_ENGBER_6,0120A,3,2048,Logan City,CACHE,1,1,ENGBER,JOSEPH,NaN,1,m,6.000,0,grandson,s,n,NaN,0.0,NaN,n,n,n,n,n,n,n,n,UTAH,SWEDEN,SWEDEN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
142706,0543B_37__30,0543B,37,26624,Uintah Precinct,WEBER,42,45,NaN,JIM,NaN,2,m,30.000,0,NaN,NaN,n,LABORER,0.0,NaN,n,n,n,n,n,n,n,n,CHINA,CHINA,CHINA
142707,0543B_38__25,0543B,38,26624,Uintah Precinct,WEBER,42,45,NaN,SING,NaN,2,m,25.000,0,NaN,NaN,n,LABORER,0.0,NaN,n,n,n,n,n,n,n,n,CHINA,CHINA,CHINA
142708,154A_50_HARRINGTON_77,154A,50,20992,Springville City and Precinct,UTAH,9,10,HARRINGTON,JULIA,NaN,1,f,77.000,0,NaN,w,n,NaN,0.0,NaN,n,n,n,n,n,n,n,n,PENNSYLVANIA,PENNSLYVANIA,PENNSLYVANIA
142709,0064A_22_WIGHT_21,0064A,22,1024,"""Brigham City, Box Elder Precinct""",BOX ELDER,303,311,WIGHT,SARAH,E,1,f,21.000,0,daughter,s,n,AT HOME,0.0,NaN,n,n,n,n,n,n,n,n,UTAH,NEW YORK,ILLINOIS
142710,3B_24_LEES_0.417,3B,24,10241,Salt Lake City 10th Ward,SALT LAKE,53,59,LEES,PAUL,NaN,1,m,0.417,1,son,s,n,NaN,0.0,NaN,n,n,n,n,n,n,n,n,UTAH,MISSISSIPPI,UTAH

In [9]:
pd.set_option('display.max_columns', None)

In [12]:
utah_df.sample(12)

,key,page,line,district,location,county,household,family,lastname,firstname,middlename,race,sex,age,birthmonth,relationship,marrystatus,justmarry,occupation,unemploymth,illness,blind,deaf,idiotic,insane,maimed,attendschool,notread,notwrite,birthstate,fbirthplace,mbirthplace
5198,0173B_6_PARKER_23,0173B,6,2560,Wellsville,CACHE,10,11,PARKER,DEBORAH,NaN,1,f,23.0,0,wife,m,n,KEEPING HOUSE,0.0,NaN,n,n,n,n,n,n,n,n,UTAH,IRELAND,SCOTLAND
19981,0028A_33_ROBERTS_21,0028A,33,512,Minersville Precinct,BEAVER,49,49,ROBERTS,GEORGE,EDWARD,1,m,21.0,0,son,s,n,TEAMSTER,3.0,NaN,n,n,n,n,n,n,n,n,UTAH,ENGLAND,ENGLAND
128389,0378A_29_STEELE_34,0378A,29,24064,Silver Reef Precinct,WASHINGTON,42,42,STEELE,WILLIAM,E,1,m,34.0,0,NaN,s,n,MINER,6.0,NaN,n,n,n,n,n,n,n,n,WISCONSIN,NEW YORK,NEW YORK
42814,0501C_41_RAPPLEYE_12,0501C,41,8448,"""Kanosh, Kanosh Precinct""",MILLARD,138,138,RAPPLEYE,SOPHIA,L,1,f,12.0,0,daughter,s,n,NaN,0.0,NaN,n,n,n,n,n,y,n,n,UTAH,ILLINOIS,DENMARK
3243,0152B_33_LARSON_2,0152B,33,2304,Logan Precinct,CACHE,336,381,LARSON,ALBERT,C,1,m,2.0,0,son,s,n,NaN,0.0,NaN,n,n,n,n,n,n,n,n,UTAH,NORWAY,SWEDEN
27685,0115A_5_MON_35,0115A,5,1792,Kelton Precinct,BOX ELDER,2,0,MON,SHU,NaN,2,m,35.0,0,NaN,NaN,n,WORKS IN TRACK,13.0,NaN,n,n,n,n,n,n,y,y,CHINA,CHINA,CHINA
54244,0032C_17_WHITE_10,0032C,17,10753,Salt Lake City 8th Ward,SALT LAKE,115,141,WHITE,MARTIN,NaN,1,m,10.0,0,son,s,n,NaN,0.0,NaN,n,n,n,n,n,n,n,n,UTAH,ENGLAND,ENGLAND
24698,0082B_12_MAN_50,0082B,12,1536,"""Corinne City, Malad Precinct""",BOX ELDER,20,20,MAN,ELIZABETH,NaN,1,f,50.0,0,NaN,w,n,DRESSMAKER,0.0,NaN,n,n,n,n,n,n,n,n,PENNSYLVANIA,GERMANY,GERMANY
56830,0059B_38_BURTON_28,0059B,38,11009,Salt Lake City 7th Ward,SALT LAKE,288,344,BURTON,ESTELLA,NaN,1,f,28.0,0,wife,m,n,KEEPING HOUSE,0.0,NaN,n,n,n,n,n,n,n,n,UTAH,CONNECTICUT,CONNECTICUT
88147,0053C_47_CHAPMAN_2,0053C,47,18945,Parleys Park Precinct,SUMMIT,299,322,CHAPMAN,TRULSY,NaN,1,m,2.0,0,son,s,n,NaN,0.0,NaN,n,n,n,n,n,n,n,n,UTAH,ENGLAND,UTAH
102556,0412C_38_WESTINSKOW_41,0412C,38,16640,"""Manti City, Manti Precinct""",SANPETE,101,103,WESTINSKOW,CAROLINE,NaN,1,f,41.0,0,wife,m,n,KEEPING HOUSE,0.0,NaN,n,n,n,n,n,n,n,n,DENMARK,DENMARK,DENMARK
30874,0357A_20_ROBINSON_20,0357A,20,5377,"""Parowan, Parowan Precinct""",IRON,84,84,ROBINSON,ANN,SARAH,1,f,20.0,0,wife,m,n,KEEPING HOUSE,0.0,NaN,n,n,n,n,n,n,n,n,UTAH,MISSOURI,ILLINOIS

In [20]:
utah_df=utah_df.rename(columns={"birthstate":"birthplace"})
utah_df

,key,page,line,district,location,county,household,family,lastname,firstname,middlename,race,sex,age,birthmonth,relationship,marrystatus,justmarry,occupation,unemploymth,illness,blind,deaf,idiotic,insane,maimed,attendschool,notread,notwrite,birthplace,fbirthplace,mbirthplace
0,0212A_2_NEWBOLD_29,0212A,2,3072,Smithfield,CACHE,9157,158,NEWBOLD,SAMUEL,NaN,1,m,29.000,0,son,m,n,WORKS AT FARMING,13.0,NaN,n,n,n,n,n,n,n,n,ENGLAND,ENGLAND,ENGLAND
1,0163A_45_CHRISTIANSEN_37,0163A,45,2560,Hyrum,CACHE,150,151,CHRISTIANSEN,MARIAH,NaN,1,f,37.000,0,wife,m,n,KEEPING HOUSE,0.0,NaN,n,n,n,n,n,n,n,n,DENMARK,DENMARK,DENMARK
2,0120A_1_JENSEN_71,0120A,1,2048,Logan City,CACHE,1,1,JENSEN,OLEY,NaN,1,m,71.000,0,NaN,m,n,LABORER,13.0,NaN,n,n,n,n,n,n,n,n,SWEDEN,SWEDEN,SWEDEN
3,0120A_2_JENSEN_69,0120A,2,2048,Logan City,CACHE,1,1,JENSEN,INGER,NaN,1,f,69.000,0,wife,m,n,KEEPING HOUSE,0.0,NaN,n,n,n,n,n,n,n,y,SWEDEN,SWEDEN,SWEDEN
4,0120A_3_ENGBER_6,0120A,3,2048,Logan City,CACHE,1,1,ENGBER,JOSEPH,NaN,1,m,6.000,0,grandson,s,n,NaN,0.0,NaN,n,n,n,n,n,n,n,n,UTAH,SWEDEN,SWEDEN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
142706,0543B_37__30,0543B,37,26624,Uintah Precinct,WEBER,42,45,NaN,JIM,NaN,2,m,30.000,0,NaN,NaN,n,LABORER,0.0,NaN,n,n,n,n,n,n,n,n,CHINA,CHINA,CHINA
142707,0543B_38__25,0543B,38,26624,Uintah Precinct,WEBER,42,45,NaN,SING,NaN,2,m,25.000,0,NaN,NaN,n,LABORER,0.0,NaN,n,n,n,n,n,n,n,n,CHINA,CHINA,CHINA
142708,154A_50_HARRINGTON_77,154A,50,20992,Springville City and Precinct,UTAH,9,10,HARRINGTON,JULIA,NaN,1,f,77.000,0,NaN,w,n,NaN,0.0,NaN,n,n,n,n,n,n,n,n,PENNSYLVANIA,PENNSLYVANIA,PENNSLYVANIA
142709,0064A_22_WIGHT_21,0064A,22,1024,"""Brigham City, Box Elder Precinct""",BOX ELDER,303,311,WIGHT,SARAH,E,1,f,21.000,0,daughter,s,n,AT HOME,0.0,NaN,n,n,n,n,n,n,n,n,UTAH,NEW YORK,ILLINOIS
142710,3B_24_LEES_0.417,3B,24,10241,Salt Lake City 10th Ward,SALT LAKE,53,59,LEES,PAUL,NaN,1,m,0.417,1,son,s,n,NaN,0.0,NaN,n,n,n,n,n,n,n,n,UTAH,MISSISSIPPI,UTAH

In [31]:
def replace_married(some_string):
    if some_string=='m': 
        return "married"
    elif some_string=='s':
        return "single"
    elif some_string== 'w':
        return "widowed"
replace_married('s')

'single'

In [40]:
utah_df['marrystatus'].apply(replace_married)

0         married
1         married
2         married
3         married
4          single
           ...
142706       None
142707       None
142708    widowed
142709     single
142710     single
Name: marrystatus, Length: 142711, dtype: object

In [42]:
utah_df

,key,page,line,district,location,county,household,family,lastname,firstname,middlename,race,sex,age,birthmonth,relationship,marrystatus,justmarry,occupation,unemploymth,illness,blind,deaf,idiotic,insane,maimed,attendschool,notread,notwrite,birthstate,fbirthplace,mbirthplace
0,0212A_2_NEWBOLD_29,0212A,2,3072,Smithfield,CACHE,9157,158,NEWBOLD,SAMUEL,NaN,1,m,29.000,0,son,m,n,WORKS AT FARMING,13.0,NaN,n,n,n,n,n,n,n,n,ENGLAND,ENGLAND,ENGLAND
1,0163A_45_CHRISTIANSEN_37,0163A,45,2560,Hyrum,CACHE,150,151,CHRISTIANSEN,MARIAH,NaN,1,f,37.000,0,wife,m,n,KEEPING HOUSE,0.0,NaN,n,n,n,n,n,n,n,n,DENMARK,DENMARK,DENMARK
2,0120A_1_JENSEN_71,0120A,1,2048,Logan City,CACHE,1,1,JENSEN,OLEY,NaN,1,m,71.000,0,NaN,m,n,LABORER,13.0,NaN,n,n,n,n,n,n,n,n,SWEDEN,SWEDEN,SWEDEN
3,0120A_2_JENSEN_69,0120A,2,2048,Logan City,CACHE,1,1,JENSEN,INGER,NaN,1,f,69.000,0,wife,m,n,KEEPING HOUSE,0.0,NaN,n,n,n,n,n,n,n,y,SWEDEN,SWEDEN,SWEDEN
4,0120A_3_ENGBER_6,0120A,3,2048,Logan City,CACHE,1,1,ENGBER,JOSEPH,NaN,1,m,6.000,0,grandson,s,n,NaN,0.0,NaN,n,n,n,n,n,n,n,n,UTAH,SWEDEN,SWEDEN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
142706,0543B_37__30,0543B,37,26624,Uintah Precinct,WEBER,42,45,NaN,JIM,NaN,2,m,30.000,0,NaN,NaN,n,LABORER,0.0,NaN,n,n,n,n,n,n,n,n,CHINA,CHINA,CHINA
142707,0543B_38__25,0543B,38,26624,Uintah Precinct,WEBER,42,45,NaN,SING,NaN,2,m,25.000,0,NaN,NaN,n,LABORER,0.0,NaN,n,n,n,n,n,n,n,n,CHINA,CHINA,CHINA
142708,154A_50_HARRINGTON_77,154A,50,20992,Springville City and Precinct,UTAH,9,10,HARRINGTON,JULIA,NaN,1,f,77.000,0,NaN,w,n,NaN,0.0,NaN,n,n,n,n,n,n,n,n,PENNSYLVANIA,PENNSLYVANIA,PENNSLYVANIA
142709,0064A_22_WIGHT_21,0064A,22,1024,"""Brigham City, Box Elder Precinct""",BOX ELDER,303,311,WIGHT,SARAH,E,1,f,21.000,0,daughter,s,n,AT HOME,0.0,NaN,n,n,n,n,n,n,n,n,UTAH,NEW YORK,ILLINOIS
142710,3B_24_LEES_0.417,3B,24,10241,Salt Lake City 10th Ward,SALT LAKE,53,59,LEES,PAUL,NaN,1,m,0.417,1,son,s,n,NaN,0.0,NaN,n,n,n,n,n,n,n,n,UTAH,MISSISSIPPI,UTAH

make a backup in case

In [ ]:
utah_df_back=utah_df ...

or